.frontend-essay {
  background: #ffffff;
  >article {
    top: 0;

    .userInfo {
      padding: 15px;
      margin-top: 15px;
      border-bottom: 1px solid #f0f0f0;

      .avatar,
      .username,
      .motto {
        text-align: center;
        margin-bottom: 6px;
      }

      .avatar {
        margin-bottom: 20px;
      }

      .username {
        font-size: 20px;
        color: rgba(0, 0, 0, .85);
        font-weight: 500;
      }
    }
  }
}

.frontend-essayDetail {
  >article {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .left {
      width: 60px;
      text-align: left;
      position: fixed;
      top: 16rem;
      display: flex;
      flex-direction: column;

      .item {
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
        cursor: pointer;
        position: relative;

        >i {
          font-size: 16px;
          color: rgb(178, 186, 194);

          &:hover {
            color: rgb(137, 147, 160);
          }
        }

        .like-active {
          color: #74ca46;

          &:hover {
            color: #74ca46;
          }
        }

        >span {
          vertical-align: middle;
          transform-origin: left top;
          transform: scale(.65);
          position: absolute;
        }
      }
    }

    .content {
      width: 740px;
      margin-left: 60px;
      background: #fff;
      padding: 0 20px;
      margin-top: 20px;
      margin-bottom: 50px;
  
      >h1 {
        padding: 30px 30px 0;
        text-align: center;
      }
    
      .annotation {
        text-align: center;
        font-size: 12px;
        color: #999;
        margin-bottom: 30px;
    
        span {
          padding-left: 8px;
          vertical-align: middle;
        }
      }
    
      >section {
        display: flex;
        justify-content: space-between;
    
        img {
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 50%;
        }
    
        .desc {
          flex: 2;
          padding-left: 8px;
          box-sizing: border-box;
          
          .username {
            font-size: 16px;
            font-weight: 600;
            color: #333;
          }
    
          .position {
            font-size: 12px;
            color: #969696;
            margin-top: 5px;
          }
        }
    
        .tags {
          line-height: 50px;
    
          .tagName {
            margin: 0 8px;
            color: #333;
          }
    
          .split {
            color: #969696;
          }
        }
      }
    
      .cover {
        margin: 30px 0;
        text-align: center;
    
        img {
          max-width: 100%;
        }
      }
    
      .rc-md-editor {
        border: none;
    
        .sec-html {
          padding: 0;
          margin: 0;
    
          .tool-bar {
            display: none;
          }
        }
      }
    }
    .post-nav {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eee;
      margin: 30px 0;
      padding: 15px 0;
      font-size: 14px;
      color: #555;
      font-weight: bold;

      >div {
        &:hover {
          color: #000;
          cursor: pointer;
        }

        >span {
          display: inline-block;
          width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
        }
        .pre {
          margin-left: 5px;
        }
        .next {
          text-align: right;
          margin-right: 5px;
        }
      }

    }
  }

  .right-nav {
    position: fixed;
    width: 200px;
    top: 195px;
    // background: #fff;
    padding-left: 8px;
    border-left: 1px solid #eee;
    margin-left: 824px;
  }
}