{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime", ["import", {
    "libraryName": "antd",
    "libraryDirectory": "es",
    "style": "css"
  }]]
}