.username {
  color: rgba(0, 0, 0, 0.65);
}

.ant-comment-actions {
  position: relative;
  margin-bottom: 0;
}
.comment-input {
  // position: absolute;
  // left: 0;
  // bottom: -40px;
  // z-index: 10;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6px;

  textarea {
    margin-right: 15px;
    width: 550px;
    height: 30px;
  }
}