.frntend-personal {
  width: 100%;
  background: #f5f6f7;

  > section {
    width: 1024px;
    position: relative;
    height: calc(100% - 25px);
    margin: 0 auto;
    top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    .sidebar {
      width: 160px;
      height: 100%;

      .frontend-user-menu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      }
    }

    .content {
      flex: 2;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      padding: 0 32px 15px;
      background: #ffffff;

      .empty {
        text-align: center;
        margin-top: 30px;
        
        img {
          width: 120px;
        }
      }

      .personal {
        .title {
          font-size: 20px;
          font-weight: 700;
          color: #3d3d3d;
          height: 60px;
          line-height: 60px;
          border-bottom: 1px solid #e0e0e0;
        }

        .userInfo {
          display: flex;
          justify-content: flex-start;
          margin-top: 15px;

          .field {
            color: rgba(0, 0, 0, 0.65);
          }

          .avatar {
            margin-right: 15px;
            text-align: center;

            .ant-avatar {
              cursor: pointer;
            }

            .modify {
              font-size: 14px;
              color: #3399ea;
              margin-top: 8px;
              cursor: pointer;
            }
          }

          .right-info {
            font-size: 14px;
            color: #4d4d4d;
            flex: 2;

            > div {
              height: 32px;
              line-height: 32px;
            }

            .top {
              display: flex;
              justify-content: space-between;

              .ID {
                color: #999;
              }

              .edit {
                font-size: 14px;
                color: #3399ea;
                cursor: pointer;
              }
            }

            .number > span {
              margin-right: 15px;
            }
          }
        }
      }

      .follow,
      .category,
      .collect,
      .archive-category {
        .header {
          display: flex;
          justify-content: space-between;
          height: 60px;
          line-height: 60px;

          .title {
            font-size: 20px;
            font-weight: 700;
            color: #3d3d3d;
          }

          .number {
            font-size: 14px;
            color: #4d4d4d;
          }
        }
      }

      .collect {
        .collect-item {
          height: 80px;
          line-height: 80px;
          border-top: 1px solid #e0e0e0;
          display: flex;
          justify-content: space-between;

          .left {
            width: 716px;
            padding-right: 15px;

            .title {
              height: 24px;
              line-height: 24px;
              font-size: 16px;
              color: #4d4d4d;
              margin-top: 20px;
              margin-bottom: 5px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              cursor: pointer;
            }

            .left-btm {
              height: 17px;
              line-height: 17px;
              font-size: 12px;
              color: #999;

              .author {
                margin-right: 15px;
              }
            }
          }
          .btn {
            span {
              border-radius: 4px;
              font-size: 14px;
              text-align: center;
              cursor: pointer;
              padding: 6px 12px;
              background: #fff;
            }

            .cancel {
              color: #999;
              border: 1px solid #999;

              &:hover {
                color: #ca0c16;
                background: #fde3e4;
                border: 1px solid #ca0c16;
              }
            }
          }
        }
      }

      .follow {
        .follow-item {
          height: 80px;
          line-height: 80px;
          border-top: 1px solid #e0e0e0;
          display: flex;
          justify-content: space-between;

          .avatar {
            width: 50px;
            height: 50xp;
            margin-right: 15px;
          }

          .nickname {
            font-size: 16px;
            color: #4d4d4d;
            flex: 2;
          }

          .btn {
            span {
              border-radius: 4px;
              font-size: 14px;
              text-align: center;
              cursor: pointer;
              padding: 6px 12px;
              background: #fff;
            }

            .follow-btn {
              color: #ca0c16;
              border: 1px solid #ca0c16;
              padding: 6px 26px;

              &:hover {
                background: #fde3e4;
              }
            }

            .follow-fans-btn {
              border: 1px solid #ca0c16;
              background: #ca0c16;
              color: #ffffff;

              &:hover {
                background: #fde3e4;
                color: #ca0c16;
              }
            }

            .cancel {
              color: #999;
              border: 1px solid #999;

              &:hover {
                color: #ca0c16;
                background: #fde3e4;
                border: 1px solid #ca0c16;
              }
            }
          }
        }
      }

      .category {
        .header {
          border-bottom: 1px solid #e0e0e0;
        }

        .category-item {
          border-bottom: 1px solid #f5f6f7;
          padding: 16px;
          display: flex;
          justify-content: space-between;
          
          &:hover {
            background: rgba(0,0,0,.01);
            cursor: pointer;
          }

          .name {
            font-size: 16px;
            color: #3d3d3d;
            user-select: none;
          }

          .count {
            margin-left: 16px;
            font-size: 12px;
            line-height: 24px;
            color: #999;
            flex: 2;
          }

          > i {
            padding-left: 15px;
            line-height: 24px;
          }
        }
      }

      .archive-category {
        .header {
          border-bottom: 1px solid #e0e0e0;

          .title {
            font-size: 16px;
            cursor: pointer;
          }
        }

        .essay-card {
          padding: 15px;
          border-bottom: 1px solid #f0f0f0;
          cursor: pointer;

          &:hover {
            background: rgba(0,0,0,.01);
          }

          .title {
            color: #333;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 10px;
          }

          .meta {
            display: flex;
            justify-content: flex-start;
            font-size: 12px;
      
            >section {
              margin-right: 10px;
              color: #b4b4b4;
            }
          }

        }
      }
    }
  }
}
