html {
  overflow-y: scroll;
}

.BasicLayout {
  height: 100%;
  header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #ebedf0;
    background: #fff;
    position: fixed;
    z-index: 1;
    top: 0;

    nav {
      width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .logo {
        width: 120px;

        img {
          border-radius: 50%;
          width: 60px;
        }
      }

      ul {
        flex-grow: 1;
        font-size: 16px;
      }

      .user {

        .notification {
          width: 18px;
          margin-right: 30px;
          cursor: pointer;
        }
      }
    }
  }

  >article {
    position: relative;
    top: 64px;
    margin: 0 auto;
    min-height: calc(100% - 65px);
    padding-bottom: 65px;
    background: #f5f6f7;
  }

  footer {
    height: 64px;
    line-height: 64px;
    border-top: 1px solid #ebedf0;
    text-align: center;
    position: relative;
    z-index: 2;
    background: #fff;
  }
}

.frontend-user-menu {
  .lineBar {
    display: block;
    width: 100%;
    height: 1px;
    background: #dad8d8;
    padding: 0;
    margin: 10px 0;
  }

  .ant-dropdown-menu-item span {
    margin-left: 8px;
  }
}